<div id="statusBoard{{ statusBoard.id  }}" class="{{ class }}" ondrop="Connect.Todo.drop(event)" ondragover="Connect.Todo.allowDrop(event)">
    <p>{{ statusBoard.title }}</p>
    {{ todos|raw }}
</div>
