<div id="statusBoard{{ statusBoard.id  }}" class="{{ class }}" ondrop="Connect.Todo.drop(event)" ondragover="Connect.Todo.allowDrop(event)">
    <h2>{{ statusBoard.title }}</h2>
    {{ todos|raw }}
</div>
